body {
    font-family: "Inter", sans-serif;
}

header nav img{
    padding: 15px 20px;
}
.topnav{
    display: flex;
    /* justify-content: flex-end;
    justify-content: space-between; */
    width: 100%;
}

div#myLinks{
    padding: 15px 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

#myLinks a{
    padding: 0 20px;
    text-decoration: none;
    color: black;
}
#myLinks :last-child{
    color: rgb(233, 60, 118);
}



@media screen and (max-width: 321px) {
        .mobile-container {
        max-width: 480px;
        margin: 5% 5%;
        color: white;
        border-radius: 10px;
      }
      
      .topnav {
        overflow: hidden;
        position: relative;
      }
      
      .topnav #myLinks {
        display: none;
      }
      
      .topnav a {
        color: black;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
      }
      
      .topnav a.icon {
        background: grey;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
      }
      
      .topnav a:hover {
        background-color: #ddd;
        color: black;
      }

      main section.right img{
        width: auto;
        height: 50%;
        align-self: flex-start;
      }

      .companies{
        width: 364px;
        height: 117px;
        top: 1028px;
        left: 32px;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        margin: 25px 0;
      }
      .comp4{
        display: none;
      }
      .companies img{
        align-items: center;
        margin: 10px;
        width: 30%;
      }
      .big-box-cards{
        display: flex;
        overflow-x: hidden;
      }
      .Big-green .right img{
        width: auto;
        height: 70%;
        align-self: flex-end;
      }
    .right{
        overflow-x: hidden;
    }
    .left{
        float: left;
    }

    .footer-bottom :nth-child(2){
        display: none;
    }

}
/* pirmo bloko aprasymas-main */

h4{
    color: rgb(233, 60, 118);
}
h1{
    font-weight: bold;
}

main{
    display: flex;    
}

.left{
    width: 100%;
    margin: 0 5%;
}



/* .right{
   display: flex;
    width: 50%;
    justify-content: flex-end;
    position: relative;
}

.right img{
    width: 100%;
    align-self: auto;
    position: absolute;
} */

.left p{
    color: gray;
}

.left .action {
    background: linear-gradient(#ff3998, #ff7e39);
    width: max-content;
    padding: 10px;
    border-radius: 25px;
    font-size: 12px; 
}


/* blokas su background image */
.bg{
    background-image: url(background.svg);
    height: 326px;
    max-width: 1280px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg h1{
    padding: 125px 15px 0 15px;
}
.bg p{
    padding: 0 15px;
}

/* companies blokas */
.companies{
    display: flex;
    justify-content: space-around;
}

/* zmogeliuku box-card */
.block-man-cards h1{
  margin: 10px 10px;  
}
.block-man-cards p{
    margin: 10px 10px;
    color: gray;  
  }
.block-man-cards p a{
    color: gray;
}

/* .big-box-cards{
    display: flex;
    width: 100%;
} */

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    border-radius: 5px;
    margin: 20px 20px;
    display: flex;
    flex-direction: column;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .card img {
    border-radius: 5px 5px 0 0;
  }

  /* box su zmogeliukais */
  .box{
    display: flex;
    width: 100%;
    justify-content: center;
  }
  
  .left-box {
    align-items: left;
    margin: 10px 5px 10px 10px;
    width: 50%;
  }

  .right-box{
    /* align-items: right; */
    margin: 10px 10px 10px 5px;
    width: 50%;
  }

  div.right-box>*{
    text-align: right;
  }

  .box .left-box :nth-child(1){
    color: orange;
    font-size: 10px;
    margin: 10px 0;
  }

  .box .left-box :nth-child(2){
    font-weight: bold;
    font-size: 15px;
    margin: 0 0;
  }

  .box .left-box :nth-child(3){
    color: grey;
    font-size: 15px;
    margin: 10px 0;
  }

  .box .right-box :nth-child(1){
    color: gray;
    font-size: 10px;
    margin: 10px 0;
  }

  .box .right-box :nth-child(2){
    display: inline-block;
    height: 14px;
  }

  .box .right-box :nth-child(3){
    display: inline-block;
    font-weight: bold;
    font-size: 15px;
    margin: 0 0;
  }

  .box .right-box :nth-child(4){
    color: grey;
    font-size: 15px;
    margin: 10px 0;
  }

  .big-box-cards{
    display: flex;
  }
  
  /* .card{
    flex: 1;
  } */

  .Big-green{
    display: flex;
  }

  /* footer, social-icons, coppyright */

.footer-main{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.social-icon{
    display: inline-block;
    color: darkgray;
    transition: color 0.2s;
    text-decoration: none;
    padding: 0 3px;
}

.social-icon:hover {
    color: #333333;
}

ul{
  list-style-type: none;
  font-size: 15px;
  color: gray;
  padding: 0;
  margin: 20px 20px;  
}

ul :nth-child(1){
    padding: 10px 0;
    font-weight: bold;
}

ul :not(:nth-child(1)){
    padding: 5px 0;
} 

.footer-main{
    display: flex;
    justify-content: space-between;
}
.footer-left{
    /* display: flex;
    flex-wrap: wrap; */
    width: 35%;
    padding: 15px 20px;
    margin: 0 0;
}
.footer-right{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 70%;
}

.footer-bottom{
    display: flex;
    justify-content: space-between;
    margin: 20px 20px;
}
.footer-bottom p{
    /* display: inline-block; */
    color: gray;
    font-size: 10px;
}
/* 
.footer-bottom :nth-child(2){
    align-items: flex-end;
} */

@media screen and (min-width: 322px){
    header, main, section.bg, section.comapnies, section.block-man-cards, section.Big-green, footer{
        margin: 20px 20px;
    }
    .footer-right {
        justify-content: flex-end;
        width: auto;
    }
} 