body{
    background-color: aquamarine;
}

.style {
    background-color: rgb(223, 250, 148);
    border: 3px solid green;
    margin: 8px 0;
}

header{
    padding-left: 15px;
}

nav{
    font-size: 15px;
    text-align:  center;
}

div{
    font-size: 15px;
    text-align:  center;
    padding: 50px 0;
}

aside {
    display: inline-block;
    width: 25%;
    box-sizing: border-box;
}

article{
    display: inline-block;
    box-sizing: border-box;
    width: 74%;
}

footer{
    font-size: 15px;
    text-align:  center;
}

